.dashboard{
    background-color: #f4f4f4;
    display: flex;
    gap: 30px;
}

.sidebar{
    width: 250px;

    height: 100vh;
    animation: animat 1s ease-in-out ;
    position: fixed;
}
.main{
    flex: 1;
    background-color: rgb(223, 219, 219);
   
 
    margin-left: 270px;
    /* height: 100svh; */
}
@keyframes animat{
    0%{
        opacity: 0;
        left: -40px;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        left: 0px;
    }
}