.header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
    background-color: white;
    align-items: center;
    margin: 7px;

}
.header-right{
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 12px;
}
.header-right span{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.header-left span{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.header-right .pic{
    border-radius:50% ;
    background-color: gray;
    height: 40px;
    width: 40px;
}
.header-left{
    font-size: 12px;
}
.header-left span{
    text-transform: uppercase;
    font-weight: 800;
}
.header-right button{
    background-color: red;
    padding: 7px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    border: none;
}
.header-right button:hover{
    background-color: brown;
}
.pic{
    background: url('../assets/mypp.jpg');
    background-position: center;
    background-size: contain;
    padding: 5px;
   
}